# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PaymentMarket.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projects_jonalexjm\PaymentMarket\.idea\.idea.PaymentMarket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
